@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
}

.accordion {
  width: 700px;
  margin: 100px auto;
  font-size: 24px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.item {
  padding: 24px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  justify-content: center;
  align-items: center;

  transition: all 500ms ease-out;
}

.number,
.question {
  font-weight: 600;
  /* color: #087f5b; */
}

.number {
  color: #ced4da;
}

.icon {
  height: 32px;
  width: 32px;
  stroke: #087f5b;
  transition: all 300ms ease;
  cursor: pointer;
}

.hidden-box {
  font-size: 16px;
  grid-column: 2;
  display: none;
}

.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
}

.hidden-box ul {
  color: #868e96;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.active > .hidden-box {
  display: block;
}

.active > .number,
.active > .question {
  color: #087f5b;
}

.active.item {
  border-top: 5px solid #087f5b;
}

.active > .icon {
  transform: rotate(180deg);
}
